---
const pageTitle = "Scalar API Client";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
<body>
<div id="scalar-client" class="scalar-app scalar-client"></div>
<script>
 import "../scripts/main.js";
</script>
</body>
</html>
