---
const pageTitle = "Scalar API Client";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
<body>
<div id="scalar-client" class="scalar-app scalar-client"></div>
<script>
import { createApiClientApp } from '@scalar/api-client';
// run in the browser (client side) where 'document' is defined.
document.addEventListener("DOMContentLoaded", () => {

await createApiClientApp(document.getElementById('scalar-client'), {
  url: 'https://practice-davinci-838522938854.us-central1.run.app/docs/',
  proxyUrl: 'https://proxy.scalar.com',
});

});
</script>
</body>
</html>
